*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;      /* Navigation button font */
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;      /* Logo padding */
  justify-content: space-between;
  align-items: center;
}
nav img{
    width: 150px;      /* Navigation block size */
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{      /* Navigation menu */
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;      /* Navigation button color */
    text-decoration: none;
    font-size: 18px;      /* Font size of navigation buttons */
}
.nav-links ul li::after{
    content: '';
    width: 0%;      /* Hove animation % before hovering */
    height: 2px;      /* Navigation button animation size */
    background: #00c3ff;      /* Color for navigation button animation */
    display: block;
    margin: auto;
    transition: 0.5s;      /* Animation transition speed */
}
.nav-links ul li:hover::after{
    width: 100%;      /* Hover animation % after hovering */
}
.text-box{
    width: 90%;
    color: #fff;      /* Middle text color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 52px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;      /* Middle text paragraph text font size */
    color: #fff;      /* Middle text paragraph text color */
}
.middle-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;      /* Middle text button color*/
    border: 2px solid #fff;      /* Middle text button border font and size */
    border-radius: 6px;      /* Middle button corner raidus size */
    padding: 12px 34px;
    font-size: 13px;      /* Middle button text font size */
    background: transparent;
    position: relative;
    cursor: pointer;
}
.middle-btn:hover{
    border: 1px solid #00c3ff;
    background: #00c3ff;
    transition: 1s;
}


nav .fa{
    display: none;
}

/* @media rule is used in media queries to apply different styles for different media devices */

@media(max-width: 1000px){     
    .text-box h1{
      font-size: 65px;      /* Middle text size for mobile */
    }
    .text-box p{
        font-size: 25px;      /* Middle paragraph text size for mobile */
    }

  .nav-links ul li{
      display: block;
  }
  .nav-links ul li a{
    font-size: 30px;      /* Mobile navigation menu font size */
    text-decoration: none;
  }
  .middle-btn{
    font-size: 25px;      /* Mobile middle button size */
  }
  nav img{
    width: 300px;      /* Mobile logo size */
  }
  .nav-links{
      position: fixed;
      background: #3b3b3b;      /* Mobile navigation menu color */
      opacity: 100%;      /* Mobile navigation menu opacity % */
      height: 100vh;
      width: 250px;      /* Mobile navigation menu width */
      top: 0px;
      right: -250px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa-times{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 66px;
      cursor: pointer;
      opacity: 80%;      /* Navigation close icon opacity % */
      padding-left: 15px;      /* Adds space(padding) to close icon */
  }
  nav .fa-bars{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 56px;
    cursor: pointer;
    opacity: 80%;      /* Navigation menu icon opacity % */
    padding-left: 15px;
}
  a{
    text-decoration:none;      /* Removes purple/blue underline on icons */
    }
  .nav-links ul{
      padding: 20px;
  }
}

/*-------------Sekcija Usluge-------------*/

.usluge{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 62px;      /* Font size for "usluge" title */
    font-weight: 600;

}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 42px;      /* Font size for column title */
    color: #000000;      /* Color for column title */
}
.usluge p{
    color: rgb(0, 0, 0);      /* Color for "usluge" title paragraph */
    font-size: 32px;      /* Font size for "usluge" title paragraph */
    font-weight: 300;
    line-height: 22px;
    padding: 20px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.usluge-col{
    flex-basis: 31%;
    background: #dbd3d3;      /* Color for "usluge" boxes */
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;      /* Shadow transition for "usluge" boxes */
}
.usluge-col p{
    color: rgb(0, 0, 0);
    font-size: 32px;      /* Font size of column paragraph */
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.usluge-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);      /* Shadow behind "usluge" boxes*/
}

/* @media rule is used in media queries to apply different styles for different media devices */

@media(max-width: 1000px){
    .row{
        flex-direction: column;;
    }
}
